-- Add bedrooms, bathrooms, features to properties table
ALTER TABLE public.properties ADD COLUMN bedrooms INTEGER;
ALTER TABLE public.properties ADD COLUMN bathrooms INTEGER;
ALTER TABLE public.properties ADD COLUMN features TEXT[];
