-- SQL commands to create the blogs table and add property columns
-- Run these in your Supabase SQL Editor

-- 1. Create blogs table
CREATE TABLE IF NOT EXISTS public.blogs (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  title TEXT NOT NULL,
  slug TEXT NOT NULL UNIQUE,
  excerpt TEXT,
  content TEXT NOT NULL,
  featured_image TEXT,
  author_name TEXT,
  published BOOLEAN DEFAULT false,
  published_at TIMESTAMP WITH TIME ZONE,
  tags TEXT[],
  seo_title TEXT,
  seo_description TEXT,
  seo_keywords TEXT[],
  view_count INTEGER DEFAULT 0,
  created_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now(),
  updated_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now()
);

-- Enable RLS
ALTER TABLE public.blogs ENABLE ROW LEVEL SECURITY;

-- Allow anyone to read published blogs
CREATE POLICY \
Anyone
can
read
published
blogs\ ON blogs FOR SELECT USING (published = true);

-- Allow admins to manage blogs (assuming you have admin role)
CREATE POLICY \Admins
can
manage
blogs\ ON blogs FOR ALL USING (
  EXISTS (
    SELECT 1 FROM user_roles
    WHERE user_id = auth.uid()
    AND role = 'admin'
  )
);

-- 2. Add missing columns to properties table
ALTER TABLE public.properties ADD COLUMN IF NOT EXISTS bedrooms INTEGER;
ALTER TABLE public.properties ADD COLUMN IF NOT EXISTS bathrooms INTEGER;
ALTER TABLE public.properties ADD COLUMN IF NOT EXISTS features TEXT[];

-- 3. Add policy for public read of available properties
CREATE POLICY \Anyone
can
view
available
properties\ ON public.properties FOR SELECT USING (status = 'available');
